// Chats.scss
@import '../style/style.scss';

.chats header{
    background-color: #513736;
    .statusBar{
        color: #fff;
    }
    .titleBar{
        color: #fff;
        a{
            color: #fff;
        }
        svg{
            color: #fff;
        }
    }
}
.main_section.chats>ul{
    padding: 0 15px;
}